body,
.container {
  height: 100vh;
  width: 100%;
  margin: 0%;
  background-color: #e0e0e0;
}
#logo {
  height: 60px;
  width: 60px;
}
#list-view img {
  height: 200px;
  width: 250px;
}
.socialmedia {
  height: 20px;
  width: 22px;
}
header,
footer {
  background-color: rosybrown;
}
footer img {
  height: 20px;
  width: 22px;
}
footer p {
  margin-top: 0%;
}
#list-view div {
  margin: 2%;
  width: 40%;
  background-color: rgb(132, 136, 139);
}
